<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Custom Logger Configuration -->
    <type name="Assessment\SimpleQueue\Logger\ConsumerLoggerHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Assessment\SimpleQueue\Logger\ConsumerLogger">
        <arguments>
            <argument name="name" xsi:type="string">consumerLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Assessment\SimpleQueue\Logger\ConsumerLoggerHandler</item>
            </argument>
        </arguments>
    </type>
    <!-- Console Command Config -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="customPublishToDetailsQueue" xsi:type="object">
                    Assessment\SimpleQueue\Console\Command\PublishToDetailsQueueCommand
                </item>
            </argument>
        </arguments>
    </type>
</config>
